<div class="row">
    <div class="col-md-12 text-center">

        <p>
            Ingrese al chat Autenticandose con alguna cuenta
        </p>

        <button type="button" class="btn btn-outline-primary mr-1" (click)="ingresar('google')">
            Google
        </button>

        <button type="button" class="btn btn-outline-secondary mr-1" (click)="ingresar('yahoo')">
            Yahoo
        </button>

        <button type="button" class="btn btn-outline-success mr-1" (click)="ingresar('facebook')">
            Facebook
        </button>

        <button type="button" class="btn btn-outline-info mr-1" (click)="ingresar('github')">
            Github
        </button>

    </div>
</div>

<!-- <button type="button" class="btn btn-outline-secondary mr-1" (click)="ingresar('twitter')">
            Twitter
        </button> -->